.todoContainer{
    width: 35em;
    position: relative;
    top: 5rem;
    /* left: 25%; */
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: lavender;
}

.createtask input{
    position: relative;
    left: 2%;
    height: 3rem;
    width: 30em;
    box-sizing: border-box;
    padding-left: 15px;
    border: none;
    border-radius: 24px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: papayawhip;
}

.createtask input:focus{
    outline: none;
}

.createtask button{
    font-size: 16px;
    position: relative;
    right: 2.5%;
    height: 3rem;
    width: 8em;
    /* margin-left: -3%; */
    border: none;
    border-radius: 24px;
    /* border-top-left-radius: 0;
    border-bottom-left-radius: 0; */
}

#addTask{
    background-color: rgb(234,60,83);
}

#addTask:hover{
    background-color: rgb(235,10,83);
}

#updateTask{
    background-color: rgb(0,170,228);
}

#updateTask:hover{
    background-color: rgb(0,150,228);
}

.createtask button:hover{
    cursor: pointer;
}

.headers{
    height: 4.5rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 2rem;
    padding-left: 7px;
    padding-right: 4px;
}

.tasksName{
    display: flex;
    justify-content: space-between;
}

.todoItems{
    width: 90%;
    height: 13rem;
    max-height: 15rem;
}

.todoItemsScroll{
    width: 90%;
    height: 13rem;
    max-height: 15rem;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.todoItem{
    height: 3rem;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
}

.todoItem:hover{
    background-color: rgb(213, 213, 236);
}

.taskInfo{
    list-style: none;
    word-wrap: break-word;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.taskInfo label{
    padding-top: 7px;
    padding-left: 10px;
}

.taskInfo span{
    font-size: small;
    padding-top: 10px;
    padding-left: 10px;
    color: gray;
    /* background-color: aqua; */
}

.isCompleted{
    text-decoration: line-through;
}

.toDo{
    text-decoration: none;
}

.taskActions{
    width: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.taskActions img{
    padding-top: 11px;
}

.taskActions img:hover{
    cursor: pointer;
}


/* Media queries */
@media screen and (max-width: 576px) {
    .todoContainer{
        top: 5rem;
        width: 100%;
    }

    .createtask input{
        width: 18em;
    }

    .createtask button{
        width: 6em;
    }

    .todoItems{
        height: 19rem;
        max-height: 30rem;
    }

    .todoItem{
        height: fit-content;
    }

    .taskInfo label{
        width: 6em;
    }
}


@media screen and (max-width: 360px) {
    .createtask input{
        width: 11em;
    }

    .createtask button{
        width: 6em;
    }

    .todoItems{
        height: 20rem;
    }

    .taskInfo span{
        padding-left: 7px;
    }
}